*{
 margin:0px;
 padding:0px;
 font-family:sans-serif;
}


body{
    display:flex;
    justify-content:center;
    height: 100vh;
    background:whitesmoke;
    align-items:center;
}


.container {
   display:flex;
}


.card{
    height: 500px;
    margin:50px;
    overflow: hidden;
}




img{
    height:500px;
    width:350px;
    border-radius: 3px;
    transition: .5s;
}

.intro{
    height:70px;
    width: 350px;
    padding:6px;
    box-sizing:border-box;
    position:absolute;
    bottom:240px;
    background:rgba(27,27,27 .5);
    color:white;
    transition: .5s;
   

}

h1{
    margin:10px;
    font-size:40px;
}

p{
   font-size: 20px;
   margin:20px;
   visibility: hidden;
   opacity:0;
}

span{
    font-weight:bold;
}

.card:hover{
    cursor:pointer;
    transform:translateY(-30px);
}

.card:hover .intro{
      height:220px;
      bottom:240px;
      background: black;
}

.card:hover p{
   opacity:1;
   visibility: visible;
   box-shadow: rgba(27,27,27 .5);
}

.card:hover img{
    transform: scale(1.1);
    opacity:0.3;
}

.card:hover h1{
    color:orangered;
}